@page "/audit/reading/{id:int}"
@using LearnOnline.Models
@using LearnOnline.Models.Entities
@using LearnOnline.Web.Services
@inject IPartService partService
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@inject UploadFile uploadFile
@inject IJSRuntime JSRuntime
@using System.Text;
@inject Blazored.SessionStorage.ISessionStorageService session
<div style="display:none">
    <div @ref="@divEditorElement" />
</div>

<div>
    <div id="section">
        <div class="row">
            <div class="col ">
                <div class="row">
                    <div class="title">
                        <h2>@partDto.Title</h2>
                    </div>
                    @if (audioDataUrls != null)
                    {
                        <div>
                            @foreach (var img in audioDataUrls)
                            {
                                <audio controls="controls" autobuffer="autobuffer">
                                    <source src="@img">
                                </audio>
                            }
                        </div>
                    }
                    <hr />
                </div>
                <div class="col content">
                    @((MarkupString)@EditorHTMLContent)
                    @*@if (iamgeDataUrls != null && iamgeDataUrls.Count > 0)
                        {
                        <div>
                        @foreach (var img in iamgeDataUrls)
                        {
                        <img src="@img" style="height:auto;width:auto" />
                        }
                        </div>
                        }*@
                    @* <img src="../image/1.PNG" style="height:auto;width:auto" alt="">*@
                </div>
            </div>
            <div class="MenuAnswer">
                <div>
                    <h1>Phiếu trả lời</h1>
                </div>

                <EditForm Model="answerDto" OnValidSubmit="Handle">
                    <DataAnnotationsValidator />
                    <div class="answer">
                        <div class="m-2 row">
                            <div class="m-1"> 1</div>
                            <InputText id="result1" @bind-Value="answerDto.Result1" class="  col-6" />
                            <div class="m-1"> @AB.Result1</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 2</div>
                            <InputText id="result2" @bind-Value="answerDto.Result2" class="  col-6 " />
                            <div class="m-1"> @AB.Result2</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 3</div>
                            <InputText id="result3" @bind-Value="answerDto.Result3" class="  col-6 " />
                            <div class="m-1"> @AB.Result3</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 4</div>
                            <InputText id="result4" @bind-Value="answerDto.Result4" class="  col-6 " />
                            <div class="m-1"> @AB.Result4</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 5</div>
                            <InputText id="result5" @bind-Value="answerDto.Result5" class="  col-6" />
                            <div class="m-1"> @AB.Result5</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 6</div>
                            <InputText id="result6" @bind-Value="answerDto.Result6" class="  col-6" />
                            <div class="m-1"> @AB.Result6</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 7</div>
                            <InputText id="result2" @bind-Value="answerDto.Result7" class="  col-6 " />
                            <div class="m-1"> @AB.Result7</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 8</div>
                            <InputText id="result3" @bind-Value="answerDto.Result8" class="  col-6 " />
                            <div class="m-1"> @AB.Result8</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 9</div>
                            <InputText id="result4" @bind-Value="answerDto.Result9" class="  col-6 " />
                            <div class="m-1"> @AB.Result9</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 10</div>
                            <InputText id="result5" @bind-Value="answerDto.Result10" class="  col-6" />
                            <div class="m-1"> @AB.Result10</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 11</div>
                            <InputText id="result1" @bind-Value="answerDto.Result11" class="  col-6" />
                            <div class="m-1"> @AB.Result11</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 12</div>
                            <InputText id="result2" @bind-Value="answerDto.Result12" class="  col-6 " />
                            <div class="m-1"> @AB.Result12</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 13</div>
                            <InputText id="result3" @bind-Value="answerDto.Result13" class="  col-6 " />
                            <div class="m-1"> @AB.Result13</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 14</div>
                            <InputText id="result4" @bind-Value="answerDto.Result14" class="  col-6 " />
                            <div class="m-1"> @AB.Result14</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 15</div>
                            <InputText id="result5" @bind-Value="answerDto.Result15" class="  col-6" />
                            <div class="m-1"> @AB.Result15</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 16</div>
                            <InputText id="result1" @bind-Value="answerDto.Result16" class="  col-6" />
                            <div class="m-1"> @AB.Result16</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 17</div>
                            <InputText id="result2" @bind-Value="answerDto.Result17" class="  col-6 " />
                            <div class="m-1"> @AB.Result17</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 18</div>
                            <InputText id="result3" @bind-Value="answerDto.Result18" class="  col-6 " />
                            <div class="m-1"> @AB.Result18</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 19</div>
                            <InputText id="result4" @bind-Value="answerDto.Result19" class="  col-6 " />
                            <div class="m-1"> @AB.Result19</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 20</div>
                            <InputText id="result5" @bind-Value="answerDto.Result20" class="  col-6" />
                            <div class="m-1"> @AB.Result20</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 21</div>
                            <InputText id="result1" @bind-Value="answerDto.Result21" class="  col-6" />
                            <div class="m-1"> @AB.Result21</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 22</div>
                            <InputText id="result2" @bind-Value="answerDto.Result22" class="  col-6 " />
                            <div class="m-1"> @AB.Result22</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 23</div>
                            <InputText id="result3" @bind-Value="answerDto.Result23" class="  col-6 " />
                            <div class="m-1"> @AB.Result23</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 24</div>
                            <InputText id="result4" @bind-Value="answerDto.Result24" class="  col-6 " />
                            <div class="m-1"> @AB.Result24</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 25</div>
                            <InputText id="result5" @bind-Value="answerDto.Result25" class="  col-6" />
                            <div class="m-1"> @AB.Result25</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 26</div>
                            <InputText id="result1" @bind-Value="answerDto.Result26" class="  col-6" />
                            <div class="m-1"> @AB.Result26</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 27</div>
                            <InputText id="result2" @bind-Value="answerDto.Result27" class="  col-6 " />
                            <div class="m-1"> @AB.Result27</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 28</div>
                            <InputText id="result3" @bind-Value="answerDto.Result28" class="  col-6 " />
                            <div class="m-1"> @AB.Result28</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 28</div>
                            <InputText id="result4" @bind-Value="answerDto.Result29" class="  col-6 " />
                            <div class="m-1"> @AB.Result29</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 30</div>
                            <InputText id="result5" @bind-Value="answerDto.Result30" class="  col-6" />
                            <div class="m-1"> @AB.Result30</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 31</div>
                            <InputText id="result1" @bind-Value="answerDto.Result31" class="  col-6" />
                            <div class="m-1"> @AB.Result31</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 32</div>
                            <InputText id="result2" @bind-Value="answerDto.Result32" class="  col-6 " />
                            <div class="m-1"> @AB.Result32</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 33</div>
                            <InputText id="result3" @bind-Value="answerDto.Result33" class="  col-6 " />
                            <div class="m-1"> @AB.Result33</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 34</div>
                            <InputText id="result4" @bind-Value="answerDto.Result34" class="  col-6 " />
                            <div class="m-1"> @AB.Result34</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 35</div>
                            <InputText id="result5" @bind-Value="answerDto.Result35" class="  col-6" />
                            <div class="m-1"> @AB.Result35</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 36</div>
                            <InputText id="result1" @bind-Value="answerDto.Result36" class="  col-6" />
                            <div class="m-1"> @AB.Result36</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 37</div>
                            <InputText id="result2" @bind-Value="answerDto.Result37" class="  col-6 " />
                            <div class="m-1"> @AB.Result37</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 38</div>
                            <InputText id="result3" @bind-Value="answerDto.Result38" class="  col-6 " />
                            <div class="m-1"> @AB.Result38</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 39</div>
                            <InputText id="result4" @bind-Value="answerDto.Result39" class="  col-6 " />
                            <div class="m-1"> @AB.Result39</div>
                        </div>
                        <div class="m-2 row">
                            <div class="m-1"> 40</div>
                            <InputText id="result5" @bind-Value="answerDto.Result40" class="  col-6" />
                            <div class="m-1"> @AB.Result40</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br />
                    </div>
                    <div id="ketqua" class="@messageCssClass">
                        <span>@message</span>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<style>
    #ketqua {
        margin-top: 425px;
        position: fixed;
    }

    .m-1 {
        width: 15px;
    }
    img {
        width:800px;
    }
    #nav {
        line-height: 30px;
        background-color: #eeeeee;
        height: 300px;
        width: 17%;
        float: left;
        padding: 5px;
    }

    .check {
    }

    .audi {
        margin-left: 45%
    }

    .title {
        margin-left: 10%
    }

    .content {
        height: 800px;
        width: 90%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #section {
        margin-left:150px;
        width: 65%;
        float: left;
        padding: 10px;
    }

    .answer {
        width: 350px;
        height: 400px;
        position: fixed;
        float: right;
        top: 10;
        right: 10%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .MenuAnswer {
        position: fixed;
        float: right;
        top: 10;
        right: 13%;
    }
</style>
@code {
    private string EditorHTMLContent;
    private ElementReference divEditorElement;

    string message = string.Empty;
    string messageCssClass = string.Empty;
    string record = string.Empty;
    string image = string.Empty;
    int count = 40;
    [Parameter]
    public int Id { get; set; }
    AnswerDto answerDto = new AnswerDto();
    private static PartDto partDto = new PartDto();
    private static List<Part> Parts = new List<Part>();

    List<Image> imageList = new List<Image>();
    List<string> audioDataUrls = new List<string>();
    List<string> iamgeDataUrls = new List<string>();
    ACB AB = new ACB();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>(
                "QuillFunctions.createQuill", divEditorElement);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var partDtoac = await _httpClient.GetFromJsonAsync<PartDto>($"api/Part/PartId?PartId={Id}");
        partDto = partDtoac;

        //show data but hidden
        // newDto.Description = $"data:{format};base64,{Convert.ToBase64String(response.Description)}";
        var des = Encoding.UTF8.GetString(partDtoac.Description, 0, partDtoac.Description.Length);
        var QuillDelta = await JSRuntime.InvokeAsync<object>(
        "QuillFunctions.setContent", divEditorElement, des);

        EditorHTMLContent = await JSRuntime.InvokeAsync<string>(
           "QuillFunctions.getQuillHTML", divEditorElement);
    }
    async Task HandleBack()
    {
        NavigationManager.NavigateTo("/audit/listening");
    }
    async Task Handle()
    {
        var result = await checkAnswer(answerDto);

        message = "Kết quả:" + result + "/" + $"{count}";
        //result = 0;
    }
    async Task<int> checkAnswer(AnswerDto answerDto)
    {
        var result = 0;
        #region check
        //var x = answer;
        var answers = await _httpClient.GetFromJsonAsync<AnswerDto>($"api/Question/{Id}");
        AB.Result1 = answers.Result1;
        AB.Result2 = answers.Result2;
        AB.Result3 = answers.Result3;
        AB.Result4 = answers.Result4;
        AB.Result5 = answers.Result5;
        AB.Result6 = answers.Result6;
        AB.Result7 = answers.Result7;
        AB.Result8 = answers.Result8;
        AB.Result9 = answers.Result9;
        AB.Result10 = answers.Result10;
        AB.Result11 = answers.Result11;
        AB.Result12 = answers.Result12;
        AB.Result13 = answers.Result13;
        AB.Result14 = answers.Result14;
        AB.Result15 = answers.Result15;
        AB.Result16 = answers.Result16;
        AB.Result17 = answers.Result17;
        AB.Result18 = answers.Result18;
        AB.Result19 = answers.Result19;
        AB.Result20 = answers.Result20;
        AB.Result21 = answers.Result21;
        AB.Result22 = answers.Result22;
        AB.Result23 = answers.Result23;
        AB.Result24 = answers.Result24;
        AB.Result25 = answers.Result25;
        AB.Result26 = answers.Result26;
        AB.Result27 = answers.Result27;
        AB.Result28 = answers.Result28;
        AB.Result29 = answers.Result29;
        AB.Result30 = answers.Result30;
        AB.Result31 = answers.Result31;
        AB.Result32 = answers.Result32;
        AB.Result33 = answers.Result33;
        AB.Result34 = answers.Result34;
        AB.Result35 = answers.Result35;
        AB.Result36 = answers.Result36;
        AB.Result37 = answers.Result37;
        AB.Result38 = answers.Result38;
        AB.Result39 = answers.Result39;
        AB.Result40 = answers.Result40;
        if (answerDto.Result1.ToLower() != "" && answers.Result1.ToLower().Contains(answerDto.Result1.ToLower()))
        {
            result++;
        }
        if (answerDto.Result2.ToLower() != "" && answers.Result2.ToLower().Contains(answerDto.Result2.ToLower()))
        {
            result++;
        }
        if (answerDto.Result3.ToLower() != "" && answers.Result3.ToLower().Contains(answerDto.Result3.ToLower()))
        {
            result++;
        }
        if (answerDto.Result4.ToLower() != "" && answers.Result4.ToLower().Contains(answerDto.Result4.ToLower()))
        {
            result++;
        }
        if (answerDto.Result5.ToLower() != "" && answers.Result5.ToLower().Contains(answerDto.Result5.ToLower()))
        {
            result++;
        }
        if (answerDto.Result6.ToLower() != "" && answers.Result6.ToLower().Contains(answerDto.Result6.ToLower()))
        {
            result++;
        }
        if (answerDto.Result7.ToLower() != "" && answers.Result7.ToLower().Contains(answerDto.Result7.ToLower()))
        {
            result++;
        }
        if (answerDto.Result8.ToLower() != "" && answers.Result8.ToLower().Contains(answerDto.Result8.ToLower()))
        {
            result++;
        }
        if (answerDto.Result9.ToLower() != "" && answers.Result9.ToLower().Contains(answerDto.Result9.ToLower()))
        {
            result++;
        }
        if (answerDto.Result10.ToLower() != "" && answers.Result10.ToLower().Contains(answerDto.Result10.ToLower()))
        {
            result++;
        }
        if (answerDto.Result11.ToLower() != "" && answers.Result11.ToLower().Contains(answerDto.Result11.ToLower()))
        {
            result++;
        }
        if (answerDto.Result12.ToLower() != "" && answers.Result12.ToLower().Contains(answerDto.Result12.ToLower()))
        {
            result++;
        }
        if (answerDto.Result13.ToLower() != "" && answers.Result13.ToLower().Contains(answerDto.Result13.ToLower()))
        {
            result++;
        }
        if (answerDto.Result14.ToLower() != "" && answers.Result14.ToLower().Contains(answerDto.Result14.ToLower()))
        {
            result++;
        }
        if (answerDto.Result15.ToLower() != "" && answers.Result15.ToLower().Contains(answerDto.Result15.ToLower()))
        {
            result++;
        }
        if (answerDto.Result16.ToLower() != "" && answers.Result16.ToLower().Contains(answerDto.Result16.ToLower()))
        {
            result++;
        }
        if (answerDto.Result17.ToLower() != "" && answers.Result17.ToLower().Contains(answerDto.Result17.ToLower()))
        {
            result++;
        }
        if (answerDto.Result18.ToLower() != "" && answers.Result18.ToLower().Contains(answerDto.Result18.ToLower()))
        {
            result++;
        }
        if (answerDto.Result19.ToLower() != "" && answers.Result19.ToLower().Contains(answerDto.Result19.ToLower()))
        {
            result++;
        }
        if (answerDto.Result20.ToLower() != "" && answers.Result20.ToLower().Contains(answerDto.Result20.ToLower()))
        {
            result++;
        }
        if (answerDto.Result21.ToLower() != "" && answers.Result21.ToLower().Contains(answerDto.Result21.ToLower()))
        {
            result++;
        }
        if (answerDto.Result22.ToLower() != "" && answers.Result22.ToLower().Contains(answerDto.Result22.ToLower()))
        {
            result++;
        }
        if (answerDto.Result23.ToLower() != "" && answers.Result23.ToLower().Contains(answerDto.Result23.ToLower()))
        {
            result++;
        }
        if (answerDto.Result24.ToLower() != "" && answers.Result24.ToLower().Contains(answerDto.Result24.ToLower()))
        {
            result++;
        }
        if (answerDto.Result25.ToLower() != "" && answers.Result25.ToLower().Contains(answerDto.Result25.ToLower()))
        {
            result++;
        }
        if (answerDto.Result26.ToLower() != "" && answers.Result26.ToLower().Contains(answerDto.Result26.ToLower()))
        {
            result++;
        }
        if (answerDto.Result27.ToLower() != "" && answers.Result27.ToLower().Contains(answerDto.Result27.ToLower()))
        {
            result++;
        }
        if (answerDto.Result28.ToLower() != "" && answers.Result28.ToLower().Contains(answerDto.Result28.ToLower()))
        {
            result++;
        }
        if (answerDto.Result29.ToLower() != "" && answers.Result29.ToLower().Contains(answerDto.Result29.ToLower()))
        {
            result++;
        }
        if (answerDto.Result30.ToLower() != "" && answers.Result30.ToLower().Contains(answerDto.Result30.ToLower()))
        {
            result++;
        }
        if (answerDto.Result31.ToLower() != "" && answers.Result31.ToLower().Contains(answerDto.Result31.ToLower()))
        {
            result++;
        }
        if (answerDto.Result32.ToLower() != "" && answers.Result32.ToLower().Contains(answerDto.Result32.ToLower()))
        {
            result++;
        }
        if (answerDto.Result33.ToLower() != "" && answers.Result33.ToLower().Contains(answerDto.Result33.ToLower()))
        {
            result++;
        }
        if (answerDto.Result34.ToLower() != "" && answers.Result34.ToLower().Contains(answerDto.Result34.ToLower()))
        {
            result++;
        }
        if (answerDto.Result35.ToLower() != "" && answers.Result35.ToLower().Contains(answerDto.Result35.ToLower()))
        {
            result++;
        }
        if (answerDto.Result36.ToLower() != "" && answers.Result36.ToLower().Contains(answerDto.Result36.ToLower()))
        {
            result++;
        }
        if (answerDto.Result37.ToLower() != "" && answers.Result37.ToLower().Contains(answerDto.Result37.ToLower()))
        {
            result++;
        }
        if (answerDto.Result38.ToLower() != "" && answers.Result38.ToLower().Contains(answerDto.Result38.ToLower()))
        {
            result++;
        }
        if (answerDto.Result39.ToLower() != "" && answers.Result39.ToLower().Contains(answerDto.Result39.ToLower()))
        {
            result++;
        }
        if (answerDto.Result40.ToLower() != "" && answers.Result40.ToLower().Contains(answerDto.Result40.ToLower()))
        {
            result++;
        }
        #endregion

        var user = await session.GetItemAsync<string>("SessionUser");
        var his = new HistoryDto();
        his.Date = DateTime.Now;
        his.TotalScore = result;
        his.PartId = Id;
        his.UserName = user;
        await _httpClient.PostAsJsonAsync("api/History", his);

        return result;
    }
}
