@page "/admin/createAnswer/{id:int}"

@using System.Data;
@using System.IO;
@using NPOI.XSSF.UserModel;
@using NPOI.SS.UserModel;


@using LearnOnline.Web
@using LearnOnline.Web.Services
@layout AdminLayout
@inject UploadFile uploadFile
@inject IPartService partService
@inject NavigationManager NavigationManager
@inject HttpClient _client

<h1>
    Import Excel File
</h1>
<InputFile OnChange="@ImportExcelFile"></InputFile>

<table class="table">
    <thead>
        @*<tr>
                @foreach (DataColumn col in dt.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>*@
    </thead>
    <tbody>
        @foreach (DataRow row in dt.Rows)
        {
            <tr>
                @foreach (DataColumn col in dt.Columns)
                {
                    <td>@col.ColumnName.ToString()</td>
                    <td>@row[col.ColumnName].ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>
<EditForm Model="answerDto" OnValidSubmit="AddOrUpdatePart">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <h2>Đáp án: Early history of salt</h2>

    <hr />
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 1</label>
            <InputText id="title" @bind-Value="answerDto.Result1" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 2</label>
            <InputText id="title" @bind-Value="answerDto.Result2" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 3</label>
            <InputText id="title" @bind-Value="answerDto.Result3" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 4</label>
            <InputText id="title" @bind-Value="answerDto.Result4" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 5</label>
            <InputText id="title" @bind-Value="answerDto.Result5" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 6</label>
            <InputText id="title" @bind-Value="answerDto.Result6" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 7</label>
            <InputText id="title" @bind-Value="answerDto.Result7" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 8</label>
            <InputText id="title" @bind-Value="answerDto.Result8" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 9</label>
            <InputText id="title" @bind-Value="answerDto.Result9" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 10</label>
            <InputText id="title" @bind-Value="answerDto.Result10" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 11</label>
            <InputText id="title" @bind-Value="answerDto.Result11" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 12</label>
            <InputText id="title" @bind-Value="answerDto.Result12" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 13</label>
            <InputText id="title" @bind-Value="answerDto.Result13" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 14</label>
            <InputText id="title" @bind-Value="answerDto.Result14" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 15</label>
            <InputText id="title" @bind-Value="answerDto.Result15" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 16</label>
            <InputText id="title" @bind-Value="answerDto.Result16" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 17</label>
            <InputText id="title" @bind-Value="answerDto.Result17" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 18</label>
            <InputText id="title" @bind-Value="answerDto.Result18" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 19</label>
            <InputText id="title" @bind-Value="answerDto.Result19" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 20</label>
            <InputText id="title" @bind-Value="answerDto.Result20" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 21</label>
            <InputText id="title" @bind-Value="answerDto.Result21" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 22</label>
            <InputText id="title" @bind-Value="answerDto.Result22" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 23</label>
            <InputText id="title" @bind-Value="answerDto.Result23" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 24</label>
            <InputText id="title" @bind-Value="answerDto.Result24" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 25</label>
            <InputText id="title" @bind-Value="answerDto.Result25" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 26</label>
            <InputText id="title" @bind-Value="answerDto.Result26" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 27</label>
            <InputText id="title" @bind-Value="answerDto.Result27" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 28</label>
            <InputText id="title" @bind-Value="answerDto.Result28" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 29</label>
            <InputText id="title" @bind-Value="answerDto.Result29" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 30</label>
            <InputText id="title" @bind-Value="answerDto.Result30" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 31</label>
            <InputText id="title" @bind-Value="answerDto.Result31" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 32</label>
            <InputText id="title" @bind-Value="answerDto.Result32" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 33</label>
            <InputText id="title" @bind-Value="answerDto.Result33" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 34</label>
            <InputText id="title" @bind-Value="answerDto.Result34" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 35</label>
            <InputText id="title" @bind-Value="answerDto.Result35" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <div class="row">
        <div class="mb-0 col-2">
            <label for="title">Câu 36</label>
            <InputText id="title" @bind-Value="answerDto.Result36" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 37</label>
            <InputText id="title" @bind-Value="answerDto.Result37" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 38</label>
            <InputText id="title" @bind-Value="answerDto.Result38" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 39</label>
            <InputText id="title" @bind-Value="answerDto.Result39" class="form-control" placeholder="Đáp án"></InputText>
        </div>
        <div class="mb-0 col-2">
            <label for="title">Câu 40</label>
            <InputText id="title" @bind-Value="answerDto.Result40" class="form-control" placeholder="Đáp án"></InputText>
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary float-end">@btnText</button>
    <ValidationSummary></ValidationSummary>
</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }
    string btnText = "Save";
    string labelText = "";

    DataTable dt = new DataTable();
    //private static List<Category> a = new List<Category>();

    private static AnswerDto answerDto = new AnswerDto();
    protected override async Task OnInitializedAsync()
    {
        var response = await _client.GetFromJsonAsync<AnswerDto>($"api/Question/{Id}");
        answerDto = response;
    }
    async Task ImportExcelFile(InputFileChangeEventArgs e)
    {
        var fileStream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await fileStream.CopyToAsync(ms);
        fileStream.Close();
        ms.Position = 0;

        ISheet sheet;
        var xsswb = new XSSFWorkbook(ms);

        sheet = xsswb.GetSheetAt(0);
        IRow hr = sheet.GetRow(0);
        var rl = new List<string>();

        int cc = hr.LastCellNum;
        //get data cot
        for (var i = 0; i < cc; i++)
        {
            ICell cell = hr.GetCell(i);
            if (cell.ToString() == "")
            {
                cell.SetCellValue(0);
            }
            dt.Columns.Add(cell.ToString());
        }
        for (var i = (sheet.FirstRowNum + 1); i <= sheet.LastRowNum; i++)
        {
            var r = sheet.GetRow(i);

            for (var j = r.FirstCellNum; j < cc; j++)
            {
                rl.Add(r.GetCell(j).ToString());
            }

            if (rl.Count > 0)
            {
                dt.Rows.Add(rl.ToArray());
            }
            rl.Clear();
        }

        //=============
        @foreach (DataRow row in dt.Rows)
        {

            @foreach (DataColumn col in dt.Columns)
            {
                var value = @col.ColumnName.ToString();
                switch (value)
                {
                    case "1":
                        answerDto.Result1 = @row[col.ColumnName].ToString();
                        break;
                    case "2":
                        answerDto.Result2 = @row[col.ColumnName].ToString();
                        break;
                    case "3":
                        answerDto.Result3 = @row[col.ColumnName].ToString();
                        break;
                    case "4":
                        answerDto.Result4 = @row[col.ColumnName].ToString();
                        break;
                    case "5":
                        answerDto.Result5 = @row[col.ColumnName].ToString();
                        break;
                    case "6":
                        answerDto.Result6 = @row[col.ColumnName].ToString();
                        break;
                    case "7":
                        answerDto.Result7 = @row[col.ColumnName].ToString();
                        break;
                    case "8":
                        answerDto.Result8 = @row[col.ColumnName].ToString();
                        break;
                    case "9":
                        answerDto.Result9 = @row[col.ColumnName].ToString();
                        break;
                    case "10":
                        answerDto.Result10 = @row[col.ColumnName].ToString();
                        break;
                    case "11":
                        answerDto.Result11 = @row[col.ColumnName].ToString();
                        break;
                    case "12":
                        answerDto.Result12 = @row[col.ColumnName].ToString();
                        break;
                    case "13":
                        answerDto.Result13 = @row[col.ColumnName].ToString();
                        break;
                    case "14":
                        answerDto.Result14 = @row[col.ColumnName].ToString();
                        break;
                    case "15":
                        answerDto.Result15 = @row[col.ColumnName].ToString();
                        break;
                    case "16":
                        answerDto.Result16 = @row[col.ColumnName].ToString();
                        break;
                    case "17":
                        answerDto.Result17 = @row[col.ColumnName].ToString();
                        break;
                    case "18":
                        answerDto.Result18 = @row[col.ColumnName].ToString();
                        break;
                    case "19":
                        answerDto.Result19 = @row[col.ColumnName].ToString();
                        break;
                    case "20":
                        answerDto.Result20 = @row[col.ColumnName].ToString();
                        break;
                    case "21":
                        answerDto.Result21 = @row[col.ColumnName].ToString();
                        break;
                    case "22":
                        answerDto.Result22 = @row[col.ColumnName].ToString();
                        break;
                    case "23":
                        answerDto.Result23 = @row[col.ColumnName].ToString();
                        break;
                    case "24":
                        answerDto.Result24 = @row[col.ColumnName].ToString();
                        break;
                    case "25":
                        answerDto.Result25 = @row[col.ColumnName].ToString();
                        break;
                    case "26":
                        answerDto.Result26 = @row[col.ColumnName].ToString();
                        break;
                    case "27":
                        answerDto.Result27 = @row[col.ColumnName].ToString();
                        break;
                    case "28":
                        answerDto.Result28 = @row[col.ColumnName].ToString();
                        break;
                    case "29":
                        answerDto.Result29 = @row[col.ColumnName].ToString();
                        break;
                    case "30":
                        answerDto.Result30 = @row[col.ColumnName].ToString();
                        break;
                    case "31":
                        answerDto.Result31 = @row[col.ColumnName].ToString();
                        break;
                    case "32":
                        answerDto.Result32 = @row[col.ColumnName].ToString();
                        break;
                    case "33":
                        answerDto.Result33 = @row[col.ColumnName].ToString();
                        break;
                    case "34":
                        answerDto.Result34 = @row[col.ColumnName].ToString();
                        break;
                    case "35":
                        answerDto.Result35 = @row[col.ColumnName].ToString();
                        break;
                    case "36":
                        answerDto.Result36 = @row[col.ColumnName].ToString();
                        break;
                    case "37":
                        answerDto.Result37 = @row[col.ColumnName].ToString();
                        break;
                    case "38":
                        answerDto.Result38 = @row[col.ColumnName].ToString();
                        break;
                    case "39":
                        answerDto.Result39 = @row[col.ColumnName].ToString();
                        break;
                    case "40":
                        answerDto.Result40 = @row[col.ColumnName].ToString();
                        break;
                }
            }

        }
    }
    async void AddOrUpdatePart()
    {
        answerDto.PartId = Id;
        await _client.PostAsJsonAsync("api/Question", answerDto);

        var partDtoac = await _client.GetFromJsonAsync<PartDto>($"api/Part/PartId?PartId={Id}");
        if (partDtoac.SkillId == 1)
        {
            NavigationManager.NavigateTo("admin/reading");
        }
        else
        {
            NavigationManager.NavigateTo("admin/listening");
        }
    }

}
